<h1>Users List</h1>

<div class="container">
  <div class="record">
  <% @users.each do |u|%>
    <ul>
      <li><%= link_to u.name , user_path(u.id)%></li>
      <li><%= u.email%></li>
    </ul>
    <%end%>
  </div>
</div>

<div><%= link_to 'Create a new user', new_user_path %></div>
