// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pageWrapper {
  height: 100%;
  background-attachment: fixed;
  background: url(../images/roadtrip.jpg);
}

.main_image {
  width: 100px;

}