<h1>Locations</h1>
<%= link_to 'New Location', new_trip_location_path(@trip) %>
<ul>
<% @locations.each do |location| %>
  <li><%= link_to location.name, [@trip, location] %></li>
  <% end %>
  </ul>
  <%= link_to 'Back to trip', user_trips_path(@trip.user_id) %>
