<h1>Locations</h1>

<h3>
<%= @location.name %>
<%= @location.description %>
</h3>

<a class= <%= link_to 'Click here to go back to create a new location! ★~(◠‿◕✿) ', trip_locations_path(@trip) %></a>
<br/>

<%= link_to 'Delete this Location Of Your Trip! (✖╭╮✖)', [@trip, @location], method: :delete %>


